.view {
	border: 5px solid blue;
	padding: 10px;
	/* Not allways necessary */
	flex: 1;
	margin:auto;
	width:50%;
	height:50%;
	text-align:center;
}





/* For Mobile */
@media only screen and (max-width: 540px) {
    .view {
        background-color: green;
    }
}

/* For Tablets */
@media only screen and (min-width: 540px) and (max-width: 780px) {
    .view {
        background-color: yellow;
    }
}

/* For PCs */
@media only screen and (min-width: 780px) {
    .view {
        background-color: red;
    }
}